{% extends "webcosting/base.html" %}


{% block content %}


{{ projet.nom_projet }}

<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    {% include 'webcosting/form-template.html' %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>

    </div>
</form>


<button class="btn btn-default" onclick="location.href='{% url 'webcosting:fonction' projet.id %}';" role="button">Méthode des points de fonctions</button>

<button class="btn btn-default" onclick="location.href='{% url 'webcosting:index' %}';" role="button">Retourner à la liste des projets</button>

<button class="btn btn-default" onclick="location.href='{% url 'webcosting:projet' projet.id %}';" role="button">Synthèse du projet</button><a href="">

{% endblock %}