
{% extends "webcosting/base.html" %}


{% block navigation %}

<ul class="nav nav-pills">
  <li role="presentation"><a href="{% url 'webcosting:index' %}">Accueil</a></li>
  <li role="presentation"><a href="{% url 'webcosting:projet_add' %}" role="button">Ajouter un projet</a></li>
  <li role="presentation"><a href="{% url 'webcosting:cocomo_update' projet.id %}">Estimation Cocomo</a></li>
  <li role="presentation" class="active"><a href="{% url 'webcosting:fonction' projet.id %}" role="button">Estimation points de fonctions</a></li>
  <li role="presentation"><a href="{% url 'webcosting:projet' projet.id %}">Synthèse du projet</a></li>

</ul>

{% endblock %}


{% block content %}

<h1>Projet {{ projet.nom_projet }} </h1>

<form class="form-horizontal" action="" method="post">

    {% csrf_token %}
    {% include 'webcosting/form-template.html' %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>

</form>

{% endblock %}