
{% extends "webcosting/base.html" %}


{% block navigation %}

<ul class="nav nav-pills">

  <li role="presentation"><a href="{% url 'webcosting:index' %}">Accueil</a></li>
  <li role="presentation"><a href="{% url 'webcosting:projet_add' %}" role="button">Ajouter un projet</a></li>
  <li role="presentation"><a href="{% url 'webcosting:cocomo_update' projet.id %}">Estimation Cocomo</a></li>
  <li role="presentation" ><a href="{% url 'webcosting:fonction' projet.id %}" role="button">Estimation points de fonctions</a></li>
  <li role="presentation" class="active"><a href="{% url 'webcosting:projet' projet.id %}">Synthèse du projet</a></li>

</ul>

{% endblock %}


{% block content %}

<script>

function changeUnit() {

  if (document.getElementById("hommesjours").innerHTML === "{{ projet.charge_de_travail_point_de_fonction }} hommes/jours") {

    document.getElementById("hommesjours").innerHTML = "{{ projet.charge_de_travail_point_de_fonction_mois }} hommes/mois";
  }
  
  else {
    document.getElementById("hommesjours").innerHTML = "{{ projet.charge_de_travail_point_de_fonction }} hommes/jours";
  }
}

</script>

<shell>

  <h1>Projet {{ projet.nom_projet }} </h1>

  <h2> Méthode des points de fonctions </h2>


    <div class="panel panel-info">
      <div class="panel-heading">Points de fonctions bruts</div>
      <div class="panel-body">{{ projet.point_de_fonction_brut }}</div>
    </div> 

    <div class="panel panel-info">
      <div class="panel-heading">Points de fonctions nets</div>
      <div class="panel-body">{{ projet.point_de_fonction_net }}</div>
    </div> 

    <div class="panel panel-info">
      <div class="panel-heading">Milliers de lignes de code</div>
      <div class="panel-body">{{ projet.kilo_ligne_de_code }}</div>
    </div> 

    <div class="panel panel-info">
      <div class="panel-heading">Charge de travail selon la méthode des points de fonctions</div>
      <div class="panel-body" id="hommesjours">{{ projet.charge_de_travail_point_de_fonction }} hommes/jours</div>
      <button class="btn btn-default" onclick="changeUnit()">Changer l'unité</button>
    </div>   

  <h2> Méthode Cocomo </h2>

    <div class="panel panel-info">
      <div class="panel-heading">Effort simple</div>
      <div class="panel-body">{{ projet.effort_simple }} homme/mois</div>
    </div>  

    <div class="panel panel-info">
      <div class="panel-heading">Charge de travail selon la méthode Cocomo</div>
      <div class="panel-body">{{ projet.charge_de_travail_cocomo }} homme/mois</div>
    </div>  

    <div class="panel panel-info">
      <div class="panel-heading">temps de développement</div>
      <div class="panel-body">{{ projet.temps_de_developpement }} mois</div>
    </div>  

</shell>



{% endblock %}