
{% extends "webcosting/base.html" %}


{% block content %}

<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    {% include 'webcosting/form-template.html' %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Créer le projet</button>
        </div>

    </div>
</form>

<button class="btn btn-default" onclick="location.href='{% url 'webcosting:index' %}';" role="button">Retourner à la liste des projets</button>

{% endblock %}