
{% extends "webcosting/base.html" %}


{% block content %}


<shell>

  <p> Nom du projet: {{ projet.nom_projet }} </p>
  <p> pf brut: {{ projet.point_de_fonction_brut }} </p>
  <p> pf net: {{ projet.point_de_fonction_net }} </p>
  <p> lignes de code: {{ projet.ligne_de_code }} </p>
  <p> Charge de travail selon la méthode des points de fonctions {{ projet.charge_de_travail_point_de_fonction }} </p>

  <p> effort simple: {{ projet.effort_simple }}</p>
  <p> Charge de travail selon la méthode Cocomo {{ projet.charge_de_travail_cocomo }}</p>
  <p> temps de développement {{ projet.temps_de_developpement }}</p>





    <button class="btn btn-default" onclick="location.href='{% url 'webcosting:cocomo' projet.id %}';" role="button">Méthode Cocomo</button>

    <button class="btn btn-default" onclick="location.href='{% url 'webcosting:fonction' projet.id %}';" role="button">Méthode des points de fonctions</button>

    <button class="btn btn-default" onclick="location.href='{% url 'webcosting:index' %}';" role="button">Retourner à la liste des projets</button>

    <button class="btn btn-default" onclick="location.href='{% url 'webcosting:projet_update' projet.id %}';" role="button">Modifier le projet</button><a href=""></a>
</shell>

{% endblock %}